<div class="d-flex align-items-center gap-2 ms-auto">

@if (!authService.isAuthenticated()) {

<button mat-raised-button color="primary" class ="signin-btn"
        (click)="authService.login()">
  Sign in 
</button>
}

@if (authService.isAuthenticated()) {

<button mat-raised-button class="author-btn" [routerLink]="['/register-author']"  >
  <mat-icon>edit</mat-icon>
  Write
</button>
<button mat-button class="nav-btn" [routerLink]="['/user-library']"  >
  My Library
</button>

<button mat-button class="profile-btn" [matMenuTriggerFor]="profileMenu">

@if (userService.currentUser()) {

  <img
    class="avatar"
    [src]="userService.currentUser()?.imageurl || 'assets/default-avatar.png'"
  />

  <span class="username">
    {{ userService.currentUser()?.displayName }}
  </span>

}


</button>

<mat-menu #profileMenu="matMenu">

<button mat-menu-item  routerLink="/user-profile">
  <mat-icon>person</mat-icon>
  Profile
</button>

<button mat-menu-item  routerLink="/user-bookmark">
  <mat-icon>bookmark</mat-icon>
  Bookmarks
</button>

<button mat-menu-item>
  <mat-icon>settings</mat-icon>
  Settings
</button>

<mat-divider></mat-divider>

<button mat-menu-item (click)="authService.logout()">
  <mat-icon>logout</mat-icon>
  Logout
</button>

</mat-menu>

}
</div>