/* PROFILE BUTTON */

.profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  font-weight: 600;
  color: #8E0E4A;
}

.profile-btn:hover {
  color: #DE3163;
  background-color: rgba(255, 92, 119, 0.12);
}


/* AVATAR */

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large{
  width:40px;
  height:40px;
  border-radius:50%;
}


/* USERNAME */

.username {
  font-weight: 500;
}


/* SIGN IN BUTTON */

.signin-btn{
  background-color:#FF5C77;
  color:white;
}

.signin-btn:hover{
  background-color:#ff3d5f;
}


/* NAV BUTTON */

.nav-btn{
  color:#8E0E4A;
}

.nav-btn:hover{
  background-color:rgba(255, 92, 119, 0.12);
  color:#DE3163;
}


/* MENU ITEMS */

.mat-mdc-menu-item{
  color:#8E0E4A;
}

.mat-mdc-menu-item mat-icon{
  color:#8E0E4A;
}

.mat-mdc-menu-item:hover{
  background-color:rgba(255, 92, 119, 0.12);
  color:#DE3163;
}

.mat-mdc-menu-item:hover mat-icon{
  color:#FF5C77;
}


/* PROFILE SECTION INSIDE MENU */

.menu-profile{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 16px;
  cursor:pointer;
}

.menu-profile:hover{
  background:rgba(255,92,119,0.1);
}

.menu-username{
  font-weight:600;
  color:#8E0E4A;
}

.menu-view{
  font-size:13px;
  color:#777;
}