<div class="profile-page">

  <div class="profile-card-main">

    @if (userService.currentUser()) {

    <div class="profile-header">

      <img
        class="avatar"
        [src]="userService.currentUser()?.imageurl || 'assets/default-avatar.png'"
      />

      <div class="profile-info">
        <h1>{{ userService.currentUser()?.displayName }}</h1>
        <p>{{ userService.currentUser()?.bio }}</p>

          @if (authorService.currentAuthor()){
            <div class="pen-name">
              <p>{{authorService.currentAuthor()?.penName}}</p>
            </div>
          }
      </div>

 

      <div class="update-profile">
        <button mat-button class="update-btn" [routerLink]="['/user-profile/update']" routerLinkActive="router-link-active" >
          <mat-icon>settings</mat-icon>
          Edit Profile
        </button>

        <div class="user-join-date">
          Joined {{ userService.currentUser()?.createdAt | date:'MMM yyyy' }}
        </div>

        @if (authorService.currentAuthor()?.isVerified){
          <div class="verified">
            <mat-icon>verified</mat-icon>
            Verified creator
          </div>
        }

      </div>

    </div>

    <div class="profile-content">

      <div class="info-card">
        <h3>Library Activity</h3>
      </div>

      @if (authorService.currentAuthor()){ 
        <div class="info-card">
          <h3>Creator's Thoughts</h3>
          <p>{{authorService.currentAuthor()?.bio}}</p>
        </div>
      }


          <div class="update-creator">
            <button mat-button class="update-btn" [routerLink]="['/user-profile/update-creator-profile']" >
              <mat-icon>settings</mat-icon>
              Edit Creator's Profile
            </button>
            <p>

            </p>
          <div class="user-join-date">
              Joined as Creator at {{ authorService.currentAuthor()?.createdAt | date:'MMM yyyy' }}
          </div>
          </div>

    </div>



    }

  </div>

</div>