.navbar{
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 32px; 
}

.nav-left{
  display:flex;
  align-items: center;
  gap: 16px;
  padding-left: 12px;
}

.nav-right{
  display:flex;
  align-items: center;
  gap: 16px;
  padding-left: 12px;
}
.logo{
  font-size:20px;
  font-weight:600;
  color: #8E0E4A;
  cursor: pointer;
}

.nav-center{
  display:flex;
  align-items:center;
  gap:20px;
}

.search-box{
  width:260px;
  margin-top:6px;
  margin-bottom: 6px;
}

.categories-btn{
  display:flex;
  align-items:center;
  gap:6px;
}

mat-toolbar {
  background: transparent !important;
  box-shadow: none !important;
}

.create-genre-btn.mat-mdc-button:hover {
  background-color: rgba(255, 92, 119, 0.12);
    color: #DE3163;

}
.create-genre-btn.mat-mdc-button{
    color: #8E0E4A;
}
.categories-btn.mat-mdc-button:hover {
  background-color: rgba(255, 92, 119, 0.12);
    color: #DE3163;

}
.categories-btn.mat-mdc-button{
    color: #8E0E4A;

}

::ng-deep .search-box .mat-mdc-text-field-wrapper{
  background-color:white;
}